.faqs{
    height: auto;
    min-height: 100%;
    width: 100%;
    .faqs-container{
        padding: 35px 70px;
        margin-bottom: 350px;
        .faqs-header{

        }
        .faqs-container{
            margin-top: 25px;
            .mat-expansion-panel-content,
             .mat-expansion-panel { 
                margin-top: 12px;
                background: rgba(0, 0, 0, 0.5); 
                color: black !important;

               
             }


    }
}
}

            .header{
                width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: space-between;
                    justify-content: space-between;
                }