<div class="faqs">
    <div class="faqs-container">
        <div class="faqs-header">
            <h1>How can we help you?</h1>
        </div>
        <mat-accordion class="faqs-container" multi style="background-color: transparent;">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div class="header">
                        <p>Getting Started </p>
                        <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                    </div>
                    
                </mat-expansion-panel-header>
                <mat-accordion class="faqs-detail">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="header">
                                <p>What is Helt? </p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        Helt offers health subscription services to customers. 
                        You can use Helt to pay for products or services that you utilize 
                        often to keep up with your productivity and health goals. Also, it gives
                         you the latest discounts on health products around you and health tips 
                        on the go.
                        These subscriptions are offered by partnerships with local vendors.
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="header">
                                <p>How do I create an account? </p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>Download the Helt App</li>
                            <li>Open the app</li>
                            <li>Click “Get started”</li>
                            <li>You'll be asked to “Sign up”</li>
                            <li>Click “Sign up” and provide your information</li>
                            <li>Verify your email</li>
                            <li>Review the User Agreement and Privacy Notice then click “Agree”</li>
                        </ul>
                        
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="header">
                                <p>Where is Helt supported? </p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        At the moment, the Helt app is available only in Nigeria.
                        If you will like to see Helt supported in your country
                        you can send us a message at <a href="mailto:hello@heltapp.io">hello@heltapp.io</a>
                        Opening an account in another country might be allowed
                        but won't be of much use.
                    </mat-expansion-panel>
                </mat-accordion> 
            </mat-expansion-panel>
            <!--second-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div class="header">
                        <p>Account Settings</p>
                        <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                    </div>
                </mat-expansion-panel-header>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="header">
                                <p>What can I change on my profile </p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        As a user, you can change most details except the email
                        attached to the account. There is a fixed user ID that
                        serves as an identifier for your account. This user ID
                        cannot be changed.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="header">
                                <p>Do vendors see all my details? </p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        Vendors are restricted from seeing sensitive information about you.
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
            <!--third-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div class="header">
                        <p>Subscriptions </p>
                        <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                    </div>
                </mat-expansion-panel-header>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="header">
                                <p>What kind of subscriptions are available?</p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        As a user, you can change most details except the email
                        attached to the account. There is a fixed user ID that
                        serves as an identifier for your account. This user ID
                        cannot be changed.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                             <div class="header">
                                <p>How many subscriptions can I pay for?</p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        Vendors are restricted from seeing sensitive information about you.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                              <div class="header">
                                <p>How do I subscribe to a product/service?</p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>After you sign in, click on “get a health subscription”</li>
                            <li>You will see a list of subscriptions to choose from</li>
                            <li>Click on your product/service of choice</li>
                            <li>Read the details of the subscription including terms and conditions.</li>
                            <li>Pay for the subscription</li>
                            <li>Enjoy!</li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="header">
                            <p>How do I cancel my subscription?</p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        Click the “-” icon at the top right corner of the
                        selected subscription tray. You will be asked if 
                        you are sure of your action. Click yes and the 
                        subscription will be successfully canceled.                    
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
            <!--third-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div class="header">
                        <p>Discover</p>
                        <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                    </div>
                </mat-expansion-panel-header>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="header">
                                <p>Can I learn about productivity and health-related topics?</p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        With the discover button, you can access articles on 
                        productivity tips and health-related topics. It is all 
                        about helping you get the right fit for your health goals.
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
            <!--third-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div class="header">
                        <p>Vendor</p>
                        <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                    </div>
                </mat-expansion-panel-header>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="header">
                                <p>How do I sign up to be a vendor?</p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        Visit <a href="www.heltapp.io">www.heltapp.io</a> then click on the Signup button.
                        Fill in the details and click Submit Our support team will
                        follow up on your request and after that, you can
                        officially become a vendor
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="header">
                                <p>How do vendors get paid?</p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        When the vendors have been verified, set up, and earning, 
                        a vendor can withdraw money once a week direct to their 
                        bank accounts by clicking the “withdraw button”.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                             <div class="header">
                                <p>What is the verification phase like?</p>
                                <fa-icon [icon]="downArrow" class="icon"></fa-icon>
                            </div>
                        </mat-expansion-panel-header>
                        After receiving a vendor request, we contact the vendors,
                        fix a meeting, and plan for a verification exercise.
                        Based on our criteria, Helt accepts or declines a 
                        vendor’s request. The criteria differ depending on
                        the business of the vendor.                    
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div> 