<div class="home">
    <div class="home-container">
        <div class="first-section">
            <div class="left">
                <h1>Take control of your personal health</h1>
                <p>Buy health subscriptions that cater to your health goals or needs.</p>
                <div class="download-now">
                    <button (click)="downloadNow()">Download</button>
                    <p>Android</p>
                </div>
            </div>
            <div class="right">
                <img src="../../../assets/images/frame.png" class="phone-cover" />
                <video autoplay muted loop class="mockup-video" onloadedmetadata="this.muted = true" oncanplay="this.play()">
                    <source src="../../../assets/videos/5.mp4" type="video/mp4">
                    <b>Your browser does not support the video tag</b>
                </video>
            </div>
        </div>
        <div class="second-section">
            <div class="left">
                <img src="../../../assets/images/frame.png" class="phone-cover" />
                <video autoplay muted loop class="mockup-video" onloadedmetadata="this.muted = true" oncanplay="this.play()">
                    <source src="../../../assets/videos/4.mp4" type="video/mp4">
                    <b>Your browser does not support the video tag</b>
                </video>
            </div>
            <div class="right">
                <h1>Get special offers on health products</h1>
                <p>Discover new products at a discount.</p>
            </div>
        </div>
        <div class="third-section">
            <div class="left">
                <h1>Health tips at your fingertips</h1>
                <p>Everything you need to know about productivity and fitness</p>
                
            </div>
            <div class="right">
                <img src="../../../assets/images/frame.png" class="phone-cover" />
                <video autoplay muted loop class="mockup-video" onloadedmetadata="this.muted = true" oncanplay="this.play()">
                    <source src="../../../assets/videos/1.mp4" type="video/mp4">
                    <b>Your browser does not support the video tag</b>
                </video>
            </div>
        </div>
        <div class="forth-section">
            <div class="forth-section-container">
                <div class="title">
                    <h1>Helt is for everybody</h1>
                </div>
                <div class="blocks">
                    <div class="block">
                        <fa-icon [icon]="male" class="icon"></fa-icon>
                         <h3 class="text">Individuals</h3>
                    </div>
                    <div class="block">
                        <fa-icon [icon]="buildings" class="icon"></fa-icon>
                         <h3 class="text">Small/Medium Scale Businesses</h3>
                    </div>
                    <div class="block">
                        <fa-icon [icon]="group" class="icon"></fa-icon>
                         <h3 class="text">Cooperatives</h3>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>